Agregados_por_municipios_alfabetizacao_BR.zip
Agregados_por_municipios_basico_BR.zip
Descricoes_limites_Setores_Censitarios.zip
Dicionario_de_dados_malha_agregados.xlsx
Historico_formacao_Setores_Censitarios_2010_2022.xlsx
tabela9922_BR_GR_UF.xlsx
